@keyframes slideFadeInAni {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.slide_fadeIn {
  overflow: hidden;
}

.slide_fadeIn > ul {
  animation: slideFadeInAni 0.4s ease;
}

@keyframes slideFadeOutAni {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.slide_fadeOut {
  overflow: hidden;
}

.slide_fadeOut > ul {
  animation: slideFadeOutAni 0.4s ease;
  animation-fill-mode: forwards;
}

.components_dropdown > ul {
  position: relative;
  top: 5px;
  margin-top: 0;
  margin-bottom: 5px;
  padding-left: 0;
  list-style: none;
}
